/* General Body display*/

body{

  background-color: #f4f4f9;
  background-size: 100vw 100vh;
  background-position: center;
  padding: 0;
  font-family: Times New Roman;

}
/*Display for headers*/

header{
  background-color: rgb(79, 121, 66, );
  text-align: center;
  padding: 5px;
  color: white;

}
header h1{
  font-size: 3em;
  margin: 0;
}
header p{
  font-size: 1.5em;
  margin-top: 5px;
  font: center;
}
/* Display for containers */

.container {

  margin: 5px;

}
 h2{
   text-decoration: underline;
   color: black;
    line-height: 1.6;
    padding: 10px;
  margin: 10px;


}
.container p{

    color: black;
    line-height: 1.6;
    padding: 10px;
  margin-right: 20px;
  margin-left: 10px;
}
.container img {
  display: block;
  margin: auto;
  width: 70%;
}

.parent {
  text-decoration: underline;
   color: black;
    line-height: 1.6;
  text-align: center;
  margin: 16px;
  padding: 32px 32px;
  border: 1px solid black;

}

.child {
  width: 30%;
  padding: 32px 32px;
  border: 1px solid black;
  float: left;
  margin: 10px;
}
.link {
  width: 30%;
  padding: 32px 32px;
  border: 1px solid black;
  float: right;
  margin-right: 10px;
}
.child img {
  display: inline-block;
    width: 100px;
    height: 100px;
}
.link img{
  display: inline-block;
    width: 150px;
    height: 100px;
}
/*.float-parent {
    width: 50%;
}
.float-child {
    float: left;
    width: 50%;
}
.red {
    background-color: red;
    margin-left: 50%;
    height: 100px;
}
.blue {
    margin-left: 50%;
    height: 100px;
    background-color: blue;
}
/*h4{
  display: inline;
}

/*container{
  display: grid;
  grid-template-rows: 100px 100px ;
  grid-template-columns: 180px 180px;

}*/
/*.item {

  border: 1px solid #ccc;


}

/*.main-content img {

   background-color: white;

   height: 50%;
   width: 50%;
   margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;

}
.main-content h2{
  font-size: 3em;
  font-family: Arial;
  color: black;
}

.main-content p{
  font-size: 1.1em;
    color: black;
    line-height: 1.6;

}

.icon{
 font-size: 5vh;
 width: 5px;
 height: 5px;
}
/*rightbar{
  width: 25px;
  padding: 20px;
  background-color: #f4f4f9;
  border: 1px solid #ddd;
   display: flex;
}*/

p{
 color: black;
 line-height: 1.5;

}
/*ul{
  list-style-type: none;
  padding: 0;
}
ul li{
  margin: 20px;
}*/
a{
 text-decoration: none;
 color:black;
}
.child a:link {
  color: green;
}
.child a:hover {
  text-decoration: underline;
}
.link a:link {
  color: green;
}
.link a:hover {
  text-decoration: underline;
}
/* Responsive Layout*/
@media screen and (max-width: 768px) {
     sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }

    container {
        flex-direction: column;
    }

    main-content {
        margin-left: 0;
    }
}

