/* General Body display*/

body{

  background-color: #f4f4f9;
  background-size: 100vw 100vh;
  background-position: center;
  padding: 0;
  font-family: Times New Roman;

}
/*Display for headers*/

header{
  background-color: rgb(79, 121, 66, );
  text-align: center;
  padding: 5px;
  color: white;

}
header h1{
  font-size: 3em;
  margin: 0;
}
header p{
  font-size: 1.5em;
  margin-top: 5px;
}
/* Display for containers */

.container {

  margin: 0;

}
 h2{
   text-decoration: underline;
   color: black;
    line-height: 1.6;
    padding: 10px;
  margin: 10px;

  ;
}
.container p{

    color: black;
    line-height: 1.6;
    padding: 10px;
  margin-right: 20px;
  margin-left: 10px;
}

/*sidenav {
    background-color: #333333;
    color: white;
    width: 200px;
    padding-top: 20px;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
}
*/
/*sidenav ul {
    list-style-type: none;
    padding: 0;
}
sidenav ul li {
    padding: 10px 15px;
    text-align: left;
}
sidenav ul li a {
  color: #B0B0B0;
    text-decoration: none;
    font-size: 1.1em;
}
sidenav ul li a:hover {
  color: black ;
}*/
/*Main content list-style*/

/*backgroundimg {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRLtZNUd3macbfno8gEEcJRSlLlNJq6cFzBA&s");
  background-size: 150px;
  width: 300px;
  height: 300px;
}*/
/*
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}*/
#parent {
  text-decoration: underline;
   color: black;
    line-height: 1.6;
    padding: 10px;
  margin: 10px;
  display: bold;
}

/*ox1{
  width: 10px;
  height: 10px;
 background-color: white;
 margin: 10px;
 display: flex;

}
.box2{
  width: 10px;
  height: 10px;
  background-color: white;
  margin: 30px;
  display: flex;


}*/
h4{
  display: inline;
}

/*container{
  display: grid;
  grid-template-rows: 100px 100px ;
  grid-template-columns: 180px 180px;

}*/
.item {

  border: 1px solid #ccc;


}
/*header-image {
  width:100px;
  height:200px;
  object-fit: cover;
}*/

.main-content img {

   background-color: white;

   height: 50%;
   width: 50%;
   margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;

}
.main-content h2{
  font-size: 3em;
  font-family: Arial;
  color: black;
}

.main-content p{
  font-size: 1.1em;
    color: black;
    line-height: 1.6;

}

icon{
 font-size: 5vh;
 width: 5px;
 height: 5px;
}
/*rightbar{
  width: 25px;
  padding: 20px;
  background-color: #f4f4f9;
  border: 1px solid #ddd;
   display: flex;
}*/

p{
 color: black;
 line-height: 1.5;

}
/*ul{
  list-style-type: none;
  padding: 0;
}
ul li{
  margin: 20px;
}*/
a{
 text-decoration: none;
 color:black;
}
a:link {
  color: green;
}
a:hover {
  text-decoration: underline;
}
/* Responsive Layout*/
@media screen and (max-width: 768px) {
     sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }

    container {
        flex-direction: column;
    }

    main-content {
        margin-left: 0;
    }
}

